[2019-03-04 19:38] sayangel opened #1 "Typo in metadata field"
https://github.com/petrbroz/forge-extract/blob/58b11a22aa0e35a826ee8b72c4237b4e0336cd89/src/svf/deserialize.js#L107

`svf.metata` should be `svf.metadata`

[2019-03-04 19:44] petrbroz commented on #1
Thanks @sayangel! Fixed in https://github.com/petrbroz/forge-extract/commit/0b41b4cb0debf5776d6d19a405e9addc3a6466bc.

[2019-03-04 19:44] #1 closed

[2019-09-16 18:01] mazerab opened #2 "accessor elements not of unit length errors"
This error is model specific. To reproduce translate to glTF provided model, then drag and drop the bin and gltf files into the free glTF viewer at https://gltf-viewer.donmccurdy.com/.

It will run a glTF validation script which reports this error.

![Screen Shot 2019-09-16 at 10 59 24](https://user-images.githubusercontent.com/15131317/64981592-3db9c680-d871-11e9-81a4-316d322be284.png)

[2019-09-17 07:29] petrbroz commented on #2
It seems that in some cases, normals exported from SVF have non-unit length (e.g., 1.0002345), causing this glTF error. In commit https://github.com/petrbroz/forge-extract/commit/1ac8d42f12751684eff649fbb24b7cfd3eb92f4a I've added an explicit check that makes sure that normals have unit length.

[2019-09-17 07:29] #2 closed

[2019-09-25 13:52] wallabyway opened #4 "Line support"
I would like to see SVF's line data be available in glTF.

AEC models appear better. And tool paths are in lines which are useful for hololens.

[2019-09-25 13:56] wallabyway opened #5 "simple material support (non textures)"
Low effort support for metal and plastic Fusion materials.  Just mapping the svf material to gltf  Roughness and metalness parameters.
(Textures support is not required)

[2019-09-26 01:02] petrbroz commented on #5
The [typescript](https://github.com/petrbroz/forge-extract/tree/typescript) branch contains some initial support for generic ("SimplePhong") materials, also including textures but with no texture transforms.

[2019-10-03 08:30] petrbroz commented on #5
The branch has been merged into master, so basic materials (and also textures) are now supported.

[2019-10-03 08:30] #5 closed

[2019-10-03 11:11] petrbroz commented on #4
https://github.com/petrbroz/forge-extract/tree/v0.2.0 has added basic support for colored lines & points.

[2019-10-03 11:11] #4 closed

[2019-11-12 10:40] AlexPiro opened #7 "Separate buffers using Draco compression"
When using the draco compression extension, buffers are embed into the gltf file which is not the case when not using this extension.
When using the gltf-pipeline, "separate option" is always "false" in your code :
`if (this.compress || this.binary) {
           this.log('Post-processing gltf output...');
            const options: any = {
                resourceDirectory: this.baseDir,

[2019-11-12 10:59] petrbroz commented on #7
Sure, we can change that. What's your suggestion? Perhaps using `separate: true` when `this.binary === false`, and using `separate: false` when `this.binary === true`?

[2019-11-12 15:41] haydenjameslee opened #8 "Bounds offset"
https://github.com/petrbroz/forge-convert-utils/blob/630b8a6aa34415a071a5830991fc9adff7e68546/src/svf/fragments.ts#L23

Any word on finding the bbox offset? Might be helpful for us soon.

[2019-11-12 16:31] AlexPiro commented on #7
Yes, it seems good from my point of view !

[2019-11-13 12:37] #7 closed

[2019-11-13 12:39] petrbroz commented on #8
Let me take a look at that :+1:

[2019-11-13 14:31] petrbroz commented on #8
Btw. about a month ago, I started computing the individual bounding boxes manually (due to some warnings generated by the glTF validator):

https://github.com/petrbroz/forge-convert-utils/blob/09701c4a37791f0968eda8cf91cc2ec8c1473da6/src/gltf/writer.ts#L383

Would that work for you guys, or do you need the original bounding boxes and their offsets for other purposes?

[2019-11-13 18:42] haydenjameslee commented on #8
We're currently computing the bounds ourselves, but it would be ideal if we didn't have to download the entire geometry just to get the bounds. (we're not using this repo either btw, but we're using similar parsing code in another project).

[2019-11-14 09:11] petrbroz commented on #8
Fair enough. I'm on it.

[2019-11-14 09:43] petrbroz commented on #8
Looking at the LMV source code, it seems that the bbox logic is pretty straightforward. Basically, for SVF fragments in version 4 and above, all bounding boxes don't include their fragment's translation (to avoid precision loss issues). So in order to reconstruct the bboxes properly, you just have to add the translation back. I've updated the fragment parsing to follow that:

https://github.com/pe

[2019-11-14 09:45] #8 closed

[2019-11-14 16:06] haydenjameslee commented on #8
thanks! appreciate it

[2019-11-26 01:19] wallabyway opened #9 "consolidate meshes, based on a list of DBIds"
Can you add a command line option to take in an array of dbID-groups (or via a separate AEC.json file) and mesh-merge the meshes ?

The problem:
When I convert the 'advanced.rvt' model, it produces 1000+ nodes, which crashes Unity/Blender/gltf-pipeline and renders slowly in 3js / Babylon.js etc.

If this utility could do "mesh-merge" (same as mesh-consolidation), it would reduce the nodes, to fix

[2019-11-26 08:30] petrbroz commented on #9
I guess by saying "merging" instead of "consolidating", the idea is to simply bundle multiple [primitives](https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/README.md#reference-primitive) in a single [mesh](https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/README.md#reference-mesh) object, is that right? This would help decrease the number of nodes, but the number

[2019-12-04 18:34] wallabyway commented on #9
mesh merge...  similar to https://github.com/zeux/meshoptimizer/blob/3e4dc26c243d7cc2ac349f8d2b06c487ed836531/tools/gltfpack.cpp#L786

[2019-12-08 08:35] AlexPiro opened #11 "Error on copy of separate ressource folders when post processing"
When ressources are in separate folders, I get an error in the post processing function to copy files from tmp -> destination folder because folders don't exist.
I made this change in the `src/gltf/writer.js` (line. 183) to make this work :
`     for (const name of Object.getOwnPropertyNames(result.separateResources)) {
                        fse.ensureDirSync(path.dirname(path.join(outputFolder,

[2019-12-09 09:19] petrbroz commented on #11
Awesome, thanks @AlexPiro! Would you mind submitting a PR with the suggested code change?

[2019-12-09 11:14] AlexPiro commented on #11
#12

[2019-12-09 11:46] petrbroz commented on #11
Perfect, thanks so much!

[2019-12-09 11:47] petrbroz commented on #11
Fixed by @AlexPiro in https://github.com/petrbroz/forge-convert-utils/pull/12.

[2019-12-09 11:47] #11 closed

[2019-12-13 13:23] lmborione opened #14 "Equal sign in encoded urn"
Model Derivative does not accept equal sign at the end of URN.

[2019-12-13 20:25] #14 closed

[2019-12-13 20:26] petrbroz commented on #14
Thanks for the heads up @lmborione. The fix is now in _develop_ branch and will go live with the next release.

[2019-12-13 23:27] wallabyway opened #15 "Add support for 'Zeux' compression"
Deux compression is this...
  https://github.com/zeux/meshoptimizer

This is an alternative option to Draco.

This compression has shown favorable file sizes for AEC models compared to Draco (see here: https://github.com/KhronosGroup/glTF/issues/1699#issuecomment-565499098)

Secondarily - the wasm file size appears smaller, and the decoder performance is currently faster.

[2019-12-14 11:58] petrbroz commented on #15
Thanks, the results from gltfpack are impressive!

One thing I've been wondering about lately is: should we keep adding different post-processing modules (like `gltf-pipeline`, or `gltfpack` in this case) to `forge-convert-utils`, or should we leave it to the users of this library? I think the latter would make more sense, because:

- users of `forge-convert-utils` would not be restricted to speci

[2019-12-14 14:07] petrbroz commented on #15
Btw. here's a new branch that illustrates the idea: https://github.com/petrbroz/forge-convert-utils/tree/experiment/separate-postproc. It removes all the post-proc dependencies, and instead provides examples of how you can integrate `forge-convert-utils` with other tools: https://github.com/petrbroz/forge-convert-utils/blob/experiment/separate-postproc/test/remote-svf-to-gltf.sh.

[2019-12-16 21:54] wallabyway commented on #15
Agreed.  My hunch is for `separate-postproc` and use a script `remote-svf-to-gltf.sh`
It's too soon to pick a compression and optimize.  Better to remain agile.

[2019-12-17 11:08] petrbroz commented on #15
I've merged https://github.com/petrbroz/forge-convert-utils/tree/experiment/separate-postproc to `develop`. The example shell script now post-processes the glTF using `gltfpack` if available: https://github.com/petrbroz/forge-convert-utils/blob/develop/test/remote-svf-to-gltf.sh#L41-L44.

I'm also adding an experimental [Docker image](https://hub.docker.com/repository/docker/petrbroz/forge-convert

[2019-12-17 11:09] #15 closed

[2019-12-19 09:04] wallabyway commented on #9
looks like gltfpack already consolidates by default, based on material shader.

[2019-12-19 09:06] wallabyway opened #16 "converter - aborts when missing texture"
when running forge-convert on forge bucket object, where one of the textures is missing, the convert tool aborts.

instead, can it complete the conversion using a dummy texture ?

[2019-12-19 09:13] petrbroz commented on #9
I believe it does. Also, if I remember correctly, @zeux mentioned that gltfpack could potentially support other, less aggressive rules for consolidation. If one could consolidate meshes based on properties of gltf nodes (in our case, dbIDs encoded in node names), that would solve this request quite nicely.

[2019-12-19 09:14] petrbroz commented on #16
Sure, let me look into that. If I can't find any model with missing textures, would you mind sharing one with me?

[2019-12-19 09:51] petrbroz commented on #16
How about this: https://github.com/petrbroz/forge-convert-utils/commit/584eda97039bc98b802637131ef5ab2de475166e?

[2019-12-19 14:24] rstancioiu opened #17 "Transformation missing for xFormType = 4"
Hello,

I've seen that in some svf projects xFormType of transformation is equal to 4, which is really strange. Also in these projects the objects seem slightly translated depending on the value that is not read. I suppose that it has also an impact on the read of the bounding box and database Id.
Do you have any knowledge about this corresponding transformation ?

Many thanks,
Razvan

[2019-12-19 20:50] zeux commented on #9
Yeah this is perfectly reasonable - I can implement a separate merge mode (right now there are two, "merge everything possible" and "don't touch anything that has a name") that merges nodes with equivalent names - is that what you mean by "dbIDs encoded in node names"?

[2019-12-20 08:10] petrbroz commented on #17
Hi Razvan,

Type 4 represents an identity transformation, meaning that the particular fragment is not transformed in any way. In the SVF reader we're skipping this value (storing `null` instead of an actual identity matrix), but it should have no effect on object placement, bounding box, or dbIDs.

Could you provide a sample file where the "slightly translated objects" could be reproduced?

[2019-12-20 08:31] petrbroz commented on #9
In the original file format that we're converting to glTF, "dbIDs" are simply numerical IDs of individual selectable elements that can have certain properties (from an external database) attached to them. We're currently storing the dbIDs in `node.name`.

The idea here was not necessarily to consolidate nodes with equivalent names, but to consolidate nodes with names belonging to specific "consoli

[2019-12-20 08:38] petrbroz commented on #16
Fixed in https://github.com/petrbroz/forge-convert-utils/tree/v2.0.1.

[2019-12-20 08:38] #16 closed

[2019-12-20 16:18] zeux commented on #9
Ok - I see. In this case it's definitely worthwhile specifying this explicitly.

I'm not sure what the best route for this is. Might make sense to open an issue in glTF repository soliciting feedback for the schema specification so that longer term this solution can be implemented in other tools - it's probably fine to use `extras` for this similar to `targetNames` but I just want to make sure.

[2019-12-24 09:18] dykarohora opened #18 "Texture UV mapping flips upside down."
Hello,

When converting an FBX file exported from 3ds MAX to glTF, UV mapping was not processed correctly and it turned upside down. I found that the origin of the UV coordinate system in 3dsMAX is bottom-left, but the origin of the UV coordinate in glTF is in the top-left, so I guess this is the cause.

After modifying the code as follows, the UV mapping was processed correctly.
[code]

However,

[2019-12-27 14:34] petrbroz commented on #18
Thanks for bringing this up @dykarohora.

Yes, in glTF 2.0 the UV origin (0,0) corresponds to the *upper-left corner* of the texture ([spec](https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/README.md#images)), and any rendering system that uses a different mapping is expected to post-process the UVs accordingly. For example, in case of OpenGL or WebGL where the UV origin is consi

[2020-01-02 19:15] donmccurdy commented on #9
Note that while this would reduce JSON size a bit, I'd expect draw calls and runtime performance of N primitives or N meshes to be pretty much the same.

Added a comment about the tagging suggestion in https://github.com/KhronosGroup/glTF/issues/1731.

[2020-01-14 23:51] dykarohora commented on #18
[StandingTable.fbx.zip](https://github.com/petrbroz/forge-convert-utils/files/4062273/StandingTable.fbx.zip)

[2020-01-14 23:57] dykarohora commented on #18
Sorry for replying late.
Share the fbx file that I use for testing.

The left one is converted with the version 3.0.0 code, and the right one is converted with the modified code.
<img width="1680" alt="cap" src="https://user-images.githubusercontent.com/6583336/72392926-29ce8600-36e6-11ea-92ac-a93146e3425f.png">

[2020-01-15 08:04] petrbroz commented on #18
Thank you @dykarohora! Let me check the FBX model in Forge Viewer first, to see if the FBX-to-SVF pipeline converts everything properly.

[2020-01-15 08:08] petrbroz commented on #18
So the Forge pipeline seems to convert the UVs properly as well:

![image](https://user-images.githubusercontent.com/1470668/72416168-5f22b480-3776-11ea-807b-329d2f078e06.png)

Good. Let me update the UV parsing logic based on your code then.

[2020-01-15 08:16] #18 closed

[2020-01-15 08:18] petrbroz commented on #18
The fix is in. Will be available in version [3.1.0](https://github.com/petrbroz/forge-convert-utils/blob/develop/CHANGELOG.md#310---2020-01-15). Thanks again for the help!

[2020-01-21 19:36] wallabyway commented on #9
Hi @donmccurdy - The N primitives/meshes are reduced by the Zeux pipeline.

So just focusing on render performance comparison (skip the file size stuff, since that involves discussing compression)...  when I say 'merging' or 'consolidating', I'm referring to http://learningthreejs.com/blog/2011/10/05/performance-merging-geometry/

I'll take the gltf file we produce from our SVF->glTF pipeline, we

[2020-01-22 18:49] wallabyway commented on #4
does the "line data" come through the draco pipeline or Zeux pipeline?

**ie. with lines (from SVF/LMV viewer)**
![ice-stadium](https://user-images.githubusercontent.com/440241/70172623-ebc15980-1685-11ea-825f-27081353481a.jpg)

**Line data missing (glTF, zeux pipeline)**
![stadium2](https://user-images.githubusercontent.com/440241/71235962-8179fd00-22b2-11ea-8f11-dd8c28668251.jpg)

[2020-02-10 18:45] petrbroz opened #19 "Document the use of Forge metadata"
Explain how the gltf elements can be linked to the original model metadata in Forge, e.g.:

- using https://forge.autodesk.com/en/docs/model-derivative/v2/reference/http/urn-metadata-guid-properties-GET
- by downloading the property db in sqlite: https://github.com/petrbroz/forge-convert-utils/blob/develop/bin/forge-convert.js#L85
- by parsing the property db in _object*.json.gz_ files: https://gi

[2020-02-10 18:45] petrbroz commented on #19
Addressing https://twitter.com/FlorolF_/status/1226769610504130560

[2020-02-11 10:28] petrbroz opened #20 "Add automated testing to CI/CD"
Add automated testing to CI/CD:

- converting a couple of sample models
- validating the output
- optionally including visual regression testing of screenshots

[2020-02-21 00:40] wallabyway commented on #19
Use this SELECT statement when querying the sqlite db file.   https://github.com/wallabyway/propertyServer/blob/master/pipeline.md

You can do the same thing with the 5 JSON files, but it's a little bit harder...  (see the diagram in the link)

[2020-02-24 15:16] florolf1 opened #21 "Unity Import"
when i import the .gltf models into Unity i get a problem with rendering the models in the editor and on the device.
![Bildschirmfoto 2020-02-24 um 13 19 17](https://user-images.githubusercontent.com/29608141/75164245-ca21bc80-5720-11ea-9d91-bb9302e92fd8.png)
![Bildschirmfoto 2020-02-24 um 13 20 33](https://user-images.githubusercontent.com/29608141/75164246-cc841680-5720-11ea-9754-e2ec8ec1fef5.pn

[2020-02-25 09:12] petrbroz commented on #21
Thank you for reporting the issue @florolf1! Looking at the screenshots, it seems that the objects are visible but rendered out of order (in the first screenshot, the red roof can be seen behind the ground mesh). I'll look into that.

[2020-02-25 09:21] florolf1 commented on #21
Yes, you are right. The problem has to do with how unity render transparent objects.
https://answers.unity.com/questions/609021/how-to-fix-transparent-rendering-problem.html

Changing the render queue for individual objects can fix this, but this wont work if you do this for all objects.
What I wonder is why unity recognizes all materials as transparent, even those which should not be transparent

[2020-02-25 09:24] florolf1 commented on #19
Thanks, i will give it a try!

[2020-02-25 09:51] petrbroz commented on #21
It's possible that I'm setting the glTF material props incorrectly, causing Unity to think that they're transparent. I'll investigate that area. Thanks for the info!

[2020-02-25 10:15] #21 closed

[2020-02-25 10:16] petrbroz commented on #21
The issue is now fixed in _develop_ branch and will go live with the next version update.

[2020-02-25 10:31] florolf1 commented on #21
Tested and it works perfectly.
Thank you!

[2020-02-25 11:16] #19 closed

[2020-03-12 12:33] petrbroz commented on #20
Basic testing added with: https://github.com/petrbroz/forge-convert-utils/commit/d60e0768ca44a3097c4a51b8751f5a773904a00c.

[2020-03-12 12:33] #20 closed

[2020-03-17 09:09] petrbroz commented on #17
Closing the issue for now since there's been no additional feedback. If there's still an issue with identity xform, we'll reopen it.

[2020-03-17 09:09] #17 closed

[2020-04-30 20:13] amichaelcody opened #23 "File shows up all black, no lighting."
![IMG_9978](https://user-images.githubusercontent.com/64612488/80754467-5323ee00-8aec-11ea-9525-bcd24fd04875.PNG)
![IMG_9977](https://user-images.githubusercontent.com/64612488/80754471-53bc8480-8aec-11ea-8166-1f732c5e6df9.JPG)
![IMG_9976](https://user-images.githubusercontent.com/64612488/80754472-53bc8480-8aec-11ea-82e6-8e80c52dd1fd.JPG)

[2020-04-30 21:20] wallabyway commented on #23
* The glTF file, also shows up black, like the USDz file.
Possible issue:  texture missing (maybe bad path), or material mapping broken.

Do you have a screenshot of the model from Fusion Team/A360 Web view (ala Forge Viewer) ?

[2020-05-01 15:58] amichaelcody commented on #23
![Annotation 2020-05-01 095816](https://user-images.githubusercontent.com/64612488/80819495-507bd400-8b92-11ea-89e1-e98337d647ef.jpg)

[2020-05-04 07:46] petrbroz commented on #23
@amichaelcody would you be able to share the original file with us? I'm guessing it could be some issue with mapping the original material's _roughness_ to the glTF PBR material.

[2020-05-04 14:04] petrbroz commented on #23
Ok, so here's what's happening: the material in the original design seems to be completely black (RGB: 0,0,0), with a relatively high _roughness_. Because of that, the model needs a very bright environment to be lit properly:
<img width="1792" alt="Screen Shot 2020-05-04 at 12 21 55 PM" src="https://user-images.githubusercontent.com/1470668/80974030-74ece000-8e20-11ea-99ba-b3a79cb3c227.png">

Try

[2020-06-16 20:21] wallabyway opened #24 "investigate new glTF 'edge' extension"
(This is more a placeholder...)

I know there is this...
https://github.com/petrbroz/forge-convert-utils/issues/4

(Note: that the SVF format rarely provides line info for Revit models)
look here: https://autodeskviewer.com/viewers/latest/lmvworker.js
text search for `**function createWireframe**`

I'm wondering if this is the right approach instead ?
https://github.com/KhronosGroup/glTF/tree/mast

[2020-09-11 15:42] leefsmp opened #25 "Need more detailed example for parseMeshes"
Hi Petr! I would be interested in determining the bounding box of a given Forge model without loading it in the viewer.

So my first question is am I correct that I would need to iterate all the meshes of the model and compute the union bbox myself? Or there is a global bbox data available directly?

Then my second is would you be able to provide a slightly more detailed example of using `parseMes

[2020-09-14 07:56] petrbroz commented on #25
Hi Philippe :)

Regarding the first question, each model usually has the world bounds stored in its metadata:

<img width="762" alt="Screen Shot 2020-09-14 at 9 42 20 AM" src="https://user-images.githubusercontent.com/1470668/93057841-d34b8a00-f66e-11ea-9fa2-43e882d8f7c9.png">

One thing I'm not sure about is whether it's _guaranteed_ to always be there, so computing the bounds yourself from the f

[2020-09-14 12:51] leefsmp commented on #25
Thanks.

[2020-09-14 12:51] #25 closed

[2020-09-15 17:14] UmeshDharmik opened #26 "Question regarding Large file size"
We are using forge-convert-utils to convert Revit file from Forge OSS buckets to GLTF.
Our Revit file is of size 25MB, but the converted GLTF model is 53 MB after download.

We have other models of size around 200MB. After converting to GLTF , size of GLTF goes upto 600 MB.
We would like to use these GLTF models in our AR application.Having large file size makes it difficult to work with.

Could t

[2020-09-16 06:03] petrbroz commented on #26
Unfortunately there is no guarantee that the size of the glTF output will correlate with the input Revit model. The two formats are just fundamentally different. Here's some ideas on what to try:

- use the [deduplicate](https://github.com/petrbroz/forge-convert-utils/blob/develop/src/gltf/writer.ts#L24) feature - the conversion into glTF will take more time, but it could potentially detect duplic

[2020-09-16 06:03] #26 closed

[2020-11-19 10:21] petrbroz opened #27 "Downloading large SVF assets."
Make sure the library (and the CLI tool) can download SVF assets that are too large. Sometimes, assets like the SQLite database can get too large and must be downloaded in chunks.

[2020-11-20 11:29] #27 closed

[2020-12-03 19:28] jackcaron opened #29 "DWG -> SVF: Name and Layer Information"
So with Forge, I can easy get the name and layer information from the properties listing.

But once it's in an SVF, to extract the geometry, it's a bit less obvious how to map each piece of mesh/geometry in the SVF to the original one in the DWG file.

I know those names and layers are preserved somewhere in the SVF, can see them being listed in the PropertyDB's `_vars` object.

[2020-12-03 21:30] jackcaron commented on #29
Found it
There's a bug in the ` getProperties` function in the `src/common/propdb-reader.ts`, the `category` can potentially be `null/undefined` it must be checked in the `if (prop.category.match(/^__\w+__$/)) {` before calling match!

[2020-12-04 07:47] petrbroz commented on #29
Thanks Jack. Let me reopen this issue to make sure that the `prop.category` is checked for `null/undefined` first.

[2020-12-04 07:53] #29 closed

[2021-04-09 17:22] DominikJanecky opened #31 "Request failed with status code 401"
Hello,
I can't get through the following error (picture) even though I checked the client, secret id and URN of the model several times and they are entered correctly in the script. Would you please help me in some way with this error?

![image](https://user-images.githubusercontent.com/22544042/114217119-0d141300-9968-11eb-930a-f1f291d6df30.png)

I have no problem with the classic bash method:
se

[2021-04-12 14:52] petrbroz commented on #31
Hi @DominikJanecky, the 401 error indicates problems with authentication. Are you sure that you're using the same Forge credentials and model URN as when using the converter from bash?

[2021-04-14 07:48] DominikJanecky commented on #31
Hi @petrbroz, yeah problem was on my side, because I´m have created forge app only on "https://forge.autodesk.com/myapps/" and I didn't know I had to create an app in "admin.b360.autodesk.com" too... Now I can process the 3D model with nodejs method without errors but now I have problem with incomplete output...
When I processed 3D model with bash converter everything looks great my output looks l

[2021-04-26 10:27] KevinFournier opened #32 "What could cause an Error 413 on file convertion ?"
Hello,

I have one file I cannot generate a gltf from. I get this error back when I try to: `Unable to generate the glTF file: abort(Error: Request failed with status code 413).`

I wont be surprised if this come from the model complexity.  It’s the metal part of a reinforced concrete section.
See below a lighter version of the model we managed to load.

![image](https://user-images.githubusercont

[2021-04-26 12:35] KevinFournier commented on #32
UPDATE:

I found out it could be linked to either the request [:urn/metadata/:guid](https://forge.autodesk.com/en/docs/model-derivative/v2/reference/http/urn-metadata-guid-GET/) or the request  [GET :urn/metadata/:guid/properties](https://forge.autodesk.com/en/docs/model-derivative/v2/reference/http/urn-metadata-guid-properties-GET/).

If this is the reason it may be because the metadata tree is t

[2021-04-26 15:32] KevinFournier commented on #32
I found out what was the problem.

We were using `getDerivative(…)` instead of `getDerivativeChuncked(…)` as is it done in the exemple. So any metadata above 20mo would not be downloaded.

[2021-04-27 08:11] petrbroz commented on #32
Hi Kevin, thanks for reporting this :+1: Yes, the `413` response typically indicates that a resource you're trying to download in one piece is too large and should be instead downloaded in chunks, and in this case it's most likely coming from the https://forge.autodesk.com/en/docs/model-derivative/v2/reference/http/urn-manifest-derivativeurn-GET endpoint.

I think the converter could probably use

[2021-04-27 08:21] petrbroz commented on #31
That's strange... the command-line tool uses the exact same Node.js code under the hood so it should yield the same results. Can you share the Node.js code snippet that's responsible for the conversion? And are the two output files actually valid (i.e., can those be viewed in some glTF viewer)?

One idea that comes to mind is that the conversion is perhaps not "awaited" and exits before Node.js ca

[2021-04-27 08:59] KevinFournier commented on #32
Hi Petr

Glad to help.

I only have a limited control on which Revit model I have access to but if you need it I may be able to do some test if you need it.

[2021-05-18 12:48] johannesheesterman opened #35 "Get internal properties of node"
What is the reasoning for skipping the 'internal attributes' in the getProperties method of the PropDbReader?
https://github.com/petrbroz/forge-convert-utils/blob/b5ea5e6a9620a61ab73e64e3b70c1b77e2660555/src/common/propdb-reader.ts#L60

It would be very useful for me if I could directly access these properties.

[2021-05-18 13:58] johannesheesterman commented on #35
I just realised I could just use:
`Array.from(propDbReader.enumerateProperties(node.dbid));`

[2021-05-18 13:58] #35 closed

[2021-05-19 11:51] petrbroz commented on #35
Hi Johannes, I intentionally skipped the `__*__` properties because those are not the "typical properties" (i.e., not the properties you would see in the Properties dialog in Forge Viewer). Those properties are supposed to include type of information such as parent-child relationships between different objects in the scene.

If there are strong arguments to include these properties in the list, I'

[2021-05-20 23:58] wallabyway opened #36 "fusion360 animation support"
Take the animation.json file from Forge Fusion360 svf files,
and convert it into glTF animation nodes.

Here's an example
http://assemblyinstructionviewer.steelcase.com/Viewer/AssemblyDirectionViewer?AssemblyDirectionID=14667

[2021-07-12 04:44] alitehami opened #37 "Texture Mapping & Materials issues"
Hello @petrbroz,

First Thank you for this great utility.

I am having issues maintaining the texture mapping of the converted models.

Here is a sample model scenario for a demo of the issue

The original model is a 3dm rhino model:
![image](https://user-images.githubusercontent.com/38655738/125230956-2e94ea00-e31d-11eb-9a13-a9381cd92a65.png)

**glTF Textured model with Box Texture Mapping (conve

[2021-07-19 14:44] petrbroz commented on #37
Thanks Ali! I just tried running the 3DM file through the Forge Model Derivative service, and it seems that the textures and UV coords are already dropped during the conversion into SVF:

<img width="646" alt="Screen Shot 2021-07-19 at 4 31 32 PM" src="https://user-images.githubusercontent.com/1470668/126178087-fa29ea7e-7653-42ec-916e-1212799d8000.png">

So I'm afraid there's not much I can do on

[2021-08-01 08:06] alitehami commented on #37
Thanks for your reply @petrbroz , much appreciate you testing the files. I've sent an email reporting the bug.

[2021-11-11 14:30] geirbi opened #39 "SVF2 support"
Hello,
Is there a way to use this to convert SVF2 derivatives? Or do you have any plans to add support for it?
I know there's some code for converting OTG, but I have not been able to use it for SVF2, and according to [this comment](https://github.com/petrbroz/vscode-forge-tools/issues/51#issuecomment-853870052) it needs more work.

Anyway, thanks for a nice tool!

[2021-11-15 08:56] petrbroz commented on #39
Hi there, thanks! You're right - at the moment this library only has an experimental support for the OTG format (which is kind of like SVF2 but not entirely). I am thinking about adding SVF2 support at some point but cannot give any estimate on when that would happen.

In the meantime, let me track this as a feature request so that other people can comment/vote here as well.

[2021-12-10 03:54] wallabyway opened #40 "something wrong with piping models..."
![Screen Shot 2021-12-09 at 7 53 04 PM](https://user-images.githubusercontent.com/440241/145514545-ca1fcbeb-8b74-495c-8fbf-7d3d588f3430.JPG)
![Screen Shot 2021-12-09 at 7 58 15 PM](https://user-images.githubusercontent.com/440241/145514943-b70e9e75-e0fa-4216-acca-841e98417859.JPG)

Looks like some of the transforms aren't coming through correctly.

It's in the nodes with the 4x4 matrices. 🤷

[2021-12-10 13:14] #40 closed

[2022-01-20 00:29] wallabyway opened #43 "update NPM package ?"
Can you update the latest package to include the fix for https://github.com/petrbroz/forge-convert-utils/issues/40 ?

Thanks

;-)

[2022-01-20 08:41] petrbroz commented on #43
Oops, sorry about that :) The fix is now available in the latest version (3.6.3).

[2022-01-20 08:41] #43 closed

[2022-01-20 23:08] wallabyway commented on #43
TY

[2022-01-25 03:03] wallabyway opened #44 "better 'center' support"
The `center : true` option, adds a root node to the glTF with an offset calculated by the global bounds.

However, this can be a problem if the dbid filtered list is used.  The offset value may be at origin, meanwhile the subset of dbids are far away from origin.

Is it possible to calculate the offset of the group of dbids (the filter function), and use that inside the root node offset ?
Here's a

[2022-01-25 10:22] pangzx1 opened #45 "Large model geometry data disorder"
I convert the .svf file to .gltf through a tool. But there will be a problem of geometric data confusion. My device system is windows 10. Use command to convert.
The total size of my .svf file is 270M.
Screenshot below:
![Snipaste_2022-01-25_18-14-38](https://user-images.githubusercontent.com/37463572/150958464-9958203a-b3e9-41cb-abd8-1edcb7ce249c.png)

What could cause this?
Thanks!

[2022-01-26 00:46] wallabyway commented on #45
do you have a screenshot of what the original 3D model (inside forge-viewer) looks like ?

It could be that the SVF file is too large - does the forge-convert-utils crash ? (check the error log).

If so, then you probably have too many nodes for a single glTF to handle.  In which case, use the filter function, to split the result into multiple glTF files.

The goal to avoiding forge-convert-utils

[2022-01-26 01:18] pangzx1 commented on #45
Here is a screenshot from ```forge viewer```:
![image](https://user-images.githubusercontent.com/37463572/151086467-5efe0e17-f5e6-4920-88a4-bd08efa74e9c.png)

forge-convert-utils did not crash, and no error logs were found in the logs.

I'll try again using the filter method you said, thanks!

[2022-01-26 01:57] wallabyway commented on #9
glTFpack does mesh merge that reduces draw calls to, typically 2 (maybe 3), for most things converted from our SVF assets.

Currently, when mesh-merge happen, the dbids (nodes) are also merged, losing the ability to associate a node with a dbid.

Thankfully the FEATURE_ID extension proposal, can store the DBID in custom vertices attributes.

https://github.com/CesiumGS/glTF/tree/proposal-EXT_mesh_

[2022-01-26 01:57] #9 closed

[2022-01-26 01:58] wallabyway commented on #45
double check the logs for errors during the serialization.  I've seen it fail early and still generate a glTF.

[2022-01-26 02:21] pangzx1 commented on #45
The following two are screenshots of my logs in action:
![image](https://user-images.githubusercontent.com/37463572/151092804-e52c1910-7f1e-4e12-8988-e51ac33b0e02.png)

![image](https://user-images.githubusercontent.com/37463572/151092912-c15f779a-f047-443c-af5f-cd624266318b.png)

I can only find logs at runtime, as shown in the image above. Or are there other log files that I haven't found? In wh

[2022-02-02 02:54] javidshaikhf opened #46 "Conversion Failed With Error Code : -4058"
Hello, I have been trying to convert the files and got this error.

![image](https://user-images.githubusercontent.com/55527172/152086123-224949c9-c919-4dd5-8106-c54177b3d85a.png)

@petrbroz Can you please help me out.

[2022-02-02 13:28] petrbroz commented on #46
Thank you for the heads up. I'm guessing the error is coming from https://github.com/petrbroz/forge-convert-utils/blob/develop/bin/forge-convert.js#L85, possibly because the sqlite database is being downloaded into a folder that doesn't exist.

We could simply add something like `fse.ensureDirSync(sqliteFolder);` to make sure that the new folder is created but I'd like to understand what kind of n

[2022-02-07 17:20] FreakTheMighty opened #47 "Center models that require double precision & store offset"
When using the `--center` option it would be helpful to recover the offset. Perhaps the value could be stored inside the glTF using [this cesium extension](https://github.com/KhronosGroup/glTF/tree/main/extensions/1.0/Vendor/CESIUM_RTC)

---

Adding a bit more context:

Models that are very far from the origin suffer from rendering artifacts after being converted to glTf. The typical solution is t

[2022-02-14 23:14] wallabyway commented on #47
isn't the offset stored in the parent glTF node, when you add the --center option?

we could duplicate this same value, into the cesium extension...

"extensions": {
    "CESIUM_RTC": {
        "center": [6378137.0, 0.0, 0.0]
    }
}

would that work?

[2022-02-14 23:19] wallabyway opened #48 "ECONNRESET error when transferring SVF files from Forge services"
Getting a random ECONNRESET errors when download SVF resources from BIM360, when using Azure step function...

Is this a concurrency issue, or rate-limit error, or apogee error ?

![downloading-error](https://user-images.githubusercontent.com/440241/153963118-3cf0766a-9dc5-4308-b7aa-386c38aede76.JPG)

[2022-02-15 01:35] wallabyway opened #49 "Create a glTF with animation. Set visibility of nodes based on AEC phase"
Take phase information from the meta-data of an SVF (from .RVT or NWD)
and create a glTF with animation.

Essentially set the visibility based on phase, in a time-sequence.

Similar to this demo in Forge-Viewer, except have a fixed time-step, rather than something interactive: http://forge-bim-phasing.azurewebsites.net/

[2022-02-15 08:55] petrbroz commented on #49
Thanks Michael. IMHO this sounds a bit too industry specific for it to be considered a generic feature of the SVF-to-glTF converter. Could this feature request perhaps be generalized a bit more?

[2022-02-15 08:56] petrbroz commented on #49
Also, from my experience, there's not a unified way of representing the phasing states in SVF, is there? Last time I was working on a phasing demo (https://forge-phasing-poc.herokuapp.com), the input dataset I got was basically just a DWG file with a custom property available on different elements representing the "task ID", and an Excel spreadsheet that mapped the tasks to different start and end

[2022-02-15 09:11] petrbroz commented on #48
Just to make sure I understand this correctly: a customer is using `forge-convert-utils` in an Azure Function, trying to download SVF assets from Forge, and they're getting this `ECONNRESET` error when doing so?

If that's the case, I'd suggest getting more information about the specific Azure Function pricing plan, runtime version, and instrumenting the code with some more logs, incl. timestamps.

[2022-02-15 15:03] FreakTheMighty commented on #47
@wallabyway thanks for the feedback. I haven't checked the root node, but I would hope that the transform is __not__ applied to the root node as very large transforms need to be handled in a special way by many real time rendering engines. For example, in Unity if we apply a 6378137.0 unit translation the model will appear to jump erratically as the engine only support single precision floats.

In

[2022-02-15 15:15] FreakTheMighty commented on #47
@wallabyway , but it does look like you're right https://github.com/petrbroz/forge-convert-utils/blob/ab7057ba1ad465b725667873320fa2d9a745cbfd/src/gltf/writer.ts#L226-L242

Perhaps we need an additional option as I can see how this option could be valuable for different use cases. For large offsets the offset needs to be applied either to the individual node's transforms, or in some cases the mesh

[2022-02-15 22:47] wallabyway commented on #49
Right, there's so many possibilities.

The essence of seeing Phase animation, is always locked to a time axis, so why not make it an animation?

glTF has animation support of node transforms at keyframes, so it should be easy to bake a glTF animation where objects fall from the sky, into place (let's say), in a time-sequence, based on it's phase information.

Let the glTF viewer's, whether they ar

[2022-02-15 22:51] wallabyway commented on #49
Creating animation content from Navisworks files, will make it easier to create content from Fusion360 storyboard content (F3D), by decoding the animation.json file (SVF1).
https://github.com/petrbroz/forge-convert-utils/issues/36

[2022-02-15 23:20] wallabyway commented on #47
The vertices and node matrix offset, should be normalized.  ie. The 16bit float precision in the vertices, should be maximized around the origin, with offsets moved into the 32bit float precision in the node matrix.

Is this not the case?  Perhaps you have an example?

[2022-02-15 23:27] wallabyway commented on #49
Here is related example, of what I mean
https://sketchfab.com/3d-models/animated-3d-building-exploded-view-86584a95f8da403a96afe391e3846583

It's an exploded view, but the concept is the same for Phase.

Here's the equivalent done programmatically:  https://forge.autodesk.com/blog/view-each-floor-using-vertical-explode

[2022-02-16 01:36] FreakTheMighty commented on #47
@wallabyway I was with you right up until you said it shod be moved into the 32 but float node matrix. I think it should go into the extension to avoid having 16bit precision rendering engines from applying the transform.

With regards to the normalization I think it can be a bit complicated cause the translation could happen anywhere in the hierarchy all the way down to vertices. The easier thing

[2022-02-16 09:57] petrbroz commented on #49
Thanks, I definitely agree that we should leverage the glTF animation support. The part I consider problematic is - as you said yourself - there are just so many different ways to animate the output, for example:
- the SVF is coming from a Navisworks file, and the developer wants objects to "fly in" based on the embedded phasing data
- the SVF is coming from a Navisworks file, and the developer wa

[2022-02-16 23:03] #37 closed

[2022-02-16 23:12] wallabyway opened #51 "Bad Texture Unit-scale, missing Transparency and Metal for Fusion360 Materials"
![prism-materials-wrong](https://user-images.githubusercontent.com/440241/154372913-92119a6e-6f99-4332-b483-f7a769c868c9.JPG)

Markers:
- Red:  Fabric has the wrong texture scale
- Green:  Transparent fabric is not working (using alpha cut-through mask)
- Blue: Metalic materiał comes out black, maybe scale issue?

Right: Fusion(F3D) in LMV
Left: LGLTracer with glTF

Source F3D: https://developer.a

[2022-02-17 19:44] wallabyway commented on #48
@petrbroz - I believe you noticed this problem with Azure functions and separated the SVF download part, from the convert part.  And then used Azure Queue's to handle job tasks.
That seemed to be the workaround.  @petrbroz, perhaps you can share some of your code ?

[2022-02-17 19:47] wallabyway commented on #51
The "blue" metals seems related to https://github.com/petrbroz/forge-convert-utils/issues/23

[2022-02-17 19:57] wallabyway commented on #23
Looks like the prism metal value, is mapped outside the 0..1 roughness range.  It needs normalizing?

![Screen Shot 2022-02-17 at 11 53 51 AM](https://user-images.githubusercontent.com/440241/154560586-a1a967d6-a322-4b7f-821f-deadb0be0644.JPG)

![Screen Shot 2022-02-17 at 11 55 28 AM](https://user-images.githubusercontent.com/440241/154560566-f4438df7-07c6-47be-b7f5-fd0b2930c1f1.JPG)

[2022-02-18 09:59] petrbroz commented on #48
I haven't shared the source code of that project intentionally because it includes some proprietary stuff and hacks (e.g., the gltf-to-usdz conversion is handled by making another HTTP request to a separate Heroku service running a custom Docker container...) so people wouldn't be able to reuse it anyways.

But I can at least share the architecture diagram, for inspiration:

![azure-setup](https:/

[2022-02-21 09:33] petrbroz commented on #48
It turns out that this issue was on the Azure Function side after all, so let me close this issue.

[2022-02-21 09:33] #48 closed

[2022-02-21 23:26] camerongibbs-eic commented on #48
@petrbroz
![image](https://user-images.githubusercontent.com/48618395/155037407-c6daaddc-a05e-40b5-b47c-c9cdbfd7a941.png)
function timeout is configured to 1 hour.
The function is hitting the ECONNRESET well before timeout, during the period where forge-convert-utils is printing the 'Reading meshpack #.. Reading materials' messages.

We have a similar architecture where an https triggered function

[2022-02-22 00:18] ffreality opened #52 "Hierarchy and Name Issue"
Converted GLTF/GLB files don't preserve its mesh hierarchy and names.
Example CAD convert workflow

IAM > SVF (Forge API) > GLB (Forge Convert Utils) but all assemblies gone. I just have numbered static mesh components.

[2022-02-22 22:16] wallabyway commented on #51
#### The fix:
divide glossiness by 20 and by 60, depending on `isMetal`, like so...

at line 126 in `reader.ts`
[code]

#### Reference (LMV)
![Screen Shot 2022-02-17 at 7 22 16 PM](https://user-images.githubusercontent.com/440241/154611488-db66687f-bd45-4c22-9853-3fa88ec6a0bc.JPG)

#### Results ( Three.js, Babylon.js, LGLTracer ):
![Screen Shot 2022-02-17 at 7 20 02 PM](https://user-images.githubu

[2022-02-22 22:32] wallabyway commented on #52
Hi ffreality...
The dbid's are preserved in the gltf nodes.

The hierarchy is stored in a instance tree json file, a separate file.

The leaf nodes in that instance tree json file, have dbid's which correlate to the gltf node dbids.

So everything is there, it's just not documented anywhere.
![Screen Shot 2022-02-22 at 2 22 04 PM](https://user-images.githubusercontent.com/440241/155230580-eaef4687

[2022-02-24 02:46] pangzx1 opened #53 "Is f2d currently not supported?"
I can convert svf to gltf with this tool, but I don't see information about f2d conversion. Does this conversion tool not support f2d?

[2022-02-24 09:46] petrbroz commented on #48
Thanks Cameron. How about separating the SVF download from the actual conversion? If you download the SVF using a separate Azure Function (and perhaps even using a custom code that could handle the ECONNRESET errors better), you could then use `forge-convert-utils` to translate a local folder with the SVF data instead.

[2022-02-24 09:54] petrbroz commented on #53
The converter is mainly focused on translating Forge models into the glTF format, so it's not really relevant for 2D drawings. What kind of conversion exactly are you looking for? Something like F2D to SVG perhaps? I haven't considered that, but if there's a demand for this kind of feature, we could look into it.

[2022-02-24 10:02] pangzx1 commented on #53
In fact, I prefer to convert f2d to json. Because it gives me more flexibility in three.js. Of course, converting f2d to svg as you said is also supported in three.js. By the way, why is Forge still using the three.js r0.71 version?

[2022-02-24 10:04] petrbroz commented on #52
Yep, the SVF file format stores all geometries in a flat list, and it then provides a logical hierarchy on top of these geometries in a separate data structure. When converting SVF files to the glTF format we keep the flat list but you are free to add the logical hierarchy to your application if you want to, for example, by retrieving the hierarchy from the [GET	{urn}/metadata/{guid}](https://forg

[2022-02-24 10:04] #52 closed

[2022-02-24 10:15] petrbroz commented on #44
I've implemented a fix and made it available in [fix/center](https://github.com/petrbroz/forge-convert-utils/tree/fix/center) branch. Please try it out and let me know if it centers the model as you'd expect.

[2022-02-24 10:21] petrbroz commented on #45
@pangzx1, is there any chance you could share the SVF with me (confidentially, I would not share the file with anyone else)? You could send me a link to it via a direct message on Twitter (I'm [@ipetrbroz](https://twitter.com/ipetrbroz)), or via `forge (dot) help (at) autodesk (dot) com`.

[2022-02-24 10:34] pangzx1 commented on #53
I don't know if it is possible to convert f2d to json. But I always believed it was possible.

[2022-02-24 10:45] petrbroz commented on #47
I think what @wallabyway is referring to is using a 3x3 matrix of `float`s representing rotation and scale, together with 3 `double`s representing the offset. I'm not sure if Unity does that, though.

@FreakTheMighty do you have any sample SVF that would demonstrate this issue (glTF geometry being "wobbly" due to floating point precision issues in Unity)?

[2022-02-24 14:26] petrbroz commented on #36
I started working on an initial support for SVF animations: https://github.com/petrbroz/forge-convert-utils/tree/feature/animations. There are a couple of issues we'll need to address before the animations can be properly supported:

- No docs for the JSON schema of SVF animations; would have to reverse-engineer from Forge Viewer
- SVF animations can be hierarchical - what does that mean?
- SVF an

[2022-02-24 14:27] petrbroz commented on #36
I started working on an initial support for SVF animations: https://github.com/petrbroz/forge-convert-utils/tree/feature/animations. There are a couple of issues we'll need to address before the animations can be properly supported:

- No docs for the JSON schema of SVF animations; would have to reverse-engineer from Forge Viewer
- SVF animations can be hierarchical - what does that mean?
- SVF an

[2022-03-02 04:27] camerongibbs-eic commented on #48
@petrbroz thanks, we'll look into separating the download and conversion into separate stages when we get through the items on our roadmap. If you want to share the download code that would be appreciated, though I see it's a fairly easy to do step using the modelDerivativeClient.

[2022-03-04 22:44] wallabyway commented on #47
@FreakTheMighty - We have drifted from the main point of this feature request.

Let's leave this issue, "center a glTF" to origin, as a way to fix the Three.exportUSDz this issue...
https://github.com/wallabyway/quicklook-example
This fix will also center things for other views like gltf-viewer, sandbox Babylon.js and LGLTracer.

@petrbroz has a branch with the fix - but I haven't tested it yet.

[2022-03-04 23:18] wallabyway opened #55 "Add option to save glTF as msgpack format (or BSON) from the commandline and avoid crashing from JSON.stringify(this.manifest.."
in the src/common/gltf/writer.ts file, this line 119...

[code]
... will crash `JSON.stringify`, because the `this.manifest` object is too large to serialize into a string (nodejs 8GB option).

Instead, allow the writer to generate a msgpack (or BSON) output file, without invoking the JSON.stringify().

The current branch `experiment/BSON` uses a postProcess, but still executes JSON.stringify, and

[2022-03-11 16:24] FreakTheMighty commented on #47
Apologies for the delay. I have some screenshots to share, but I still need to get approval for the source files. I will post files as soon as I have approval.

| Source | Rendering | Viewer |
| ----------- | ----------- | ----------- |
| IFC (original) | ![image-20220311-155656](https://user-images.githubusercontent.com/247092/157903139-84edc3ee-8f8b-4a9f-8b6b-9a4408f5763e.png) | BIM Vision |
| G

[2022-03-14 14:00] FreakTheMighty commented on #47
@petrbroz @wallabyway I've attached two zip files. The first contains an source IFC and two resulting glbs after undergoing` IFC-> SVF -> GLB conversion`. One of the GLB's has been converted with the `--center` option the other without. Not that both display floating precision artifacts, but without `--center` the GLB renders with new artifacts any time a the camera moves.

[Test_View_ifc_and_glb.

[2022-03-14 14:31] FreakTheMighty commented on #47
@petrbroz I want to note two challenges for offsetting models with these sorts of large distances.

1. Large values can exist anywhere in the transformation hierarchy all the way down to the individual vertices. I don't imagine this is "best practice", but I received  a customer file that was very far from the origin, but where there were only identity transforms and each vertices had very large v

[2022-03-22 19:13] VFedyk opened #57 "Accessor element at index ${number} is NaN."
During the local conversion (with the help of the `samples/local-svf-to-gltf.sh` script) of the SVF file to gLTF, I get a lot of errors in the validator report. I get a lot of messages like this in accessors:
[code]

As far as I understand, there is some wrong number somewhere in the ".bin" file, but I'm not sure how to debug this thing.

The next stage (Draco-compression) fails, and I think the r

[2022-03-24 09:32] petrbroz commented on #57
I haven't seen this error before so I'm wondering if this is something related to the specific SVFs? If you could share one of these, that would certainly help. Could you perhaps DM a link to my Twitter handle [@ipetrbroz](https://twitter.com/ipetrbroz)?

[2022-03-24 09:34] petrbroz commented on #55
In https://github.com/petrbroz/forge-convert-utils/commit/b3397ebbccee75ccfff95cce7e7b1f49e054ad6c I've updated the `GltfWriter` class so that you can override the actual serialization process. And the https://github.com/petrbroz/forge-convert-utils/blob/develop/samples/serialize-msgpack.js sample shows how you can pack the in-memory glTF manifest directly to msgpack.

[2022-03-24 09:34] #55 closed

[2022-03-30 09:39] leefsmp opened #58 "Reading properties from sql.lite in node?"
Greetings Petr!

In the readme there is a partial example on how to read properties with sql query, but it's not obvious to me how I could perform such query from a node app? More specifically I would be interested in harvesting dbId's of all leaf nodes in my model.

Could you provide some insights on how to do such thing?

Thanks a lot.

[2022-04-01 10:40] petrbroz commented on #58
Hi Philippe! You can find some more examples on how to access the sqlite database from a Node.js app, and how to query different types of data here: https://github.com/petrbroz/forge-props-service.

Reading from/writing to sqlite database: https://github.com/petrbroz/forge-props-service/blob/master/database.js
Example queries: https://github.com/petrbroz/forge-props-service#example-queries

And by

[2022-04-08 19:26] wallabyway commented on #47
@FreakTheMighty  - Looks fine in three.js
Something is wrong with babylon.js... Hmmm 🤔

**Validation Report Errors:**
1. bad accessors from the report. I wonder what that is ?
2. it says 'Generator: forge-convert-utils' , yet forge-convert-utils doesn't save glb.  What tool did you use to convert glTF  into this glb ?  It's not reporting itself.

![Screen Shot 2022-04-08 at 12 21 00 PM](https://us

[2022-04-08 20:25] FreakTheMighty commented on #47
@wallabyway a colleague generated those glbs, so I'll need to get back to you on how they were generated. Meanwhile, I've regenerated from the attached SVF and I'm attaching the original gltf as output from `forge-convert`.

[0.zip](https://github.com/petrbroz/forge-convert-utils/files/8454894/0.zip)
[centered-0.zip](https://github.com/petrbroz/forge-convert-utils/files/8454903/centered-0.zip)

 -

[2022-04-08 22:13] bghgary commented on #47
I'm not sure what you are reading that indicates this. The referenced schema says `floating-point` values which doesn't indicate single-precision or double-precision. I will see if I can determine what Babylon.js is doing.

[2022-04-08 22:39] FreakTheMighty commented on #47
@bghgary perhaps I’ve misread or conflated those terms. In C# the types float vs double denote precision. Also, in the spec regarding accessors it does say it is limited to single precision.

https://github.com/KhronosGroup/glTF/blob/8e798b02d254cea97659a333cfcb20875b62bdd4/specification/2.0/Specification.adoc#3622-accessor-data-types

The other reason I thought it was single precision is because

[2022-04-08 23:02] wallabyway commented on #57
you can see the same error here...
and the sample glb and gltf file is provided,

https://github.com/petrbroz/forge-convert-utils/issues/47#issuecomment-1093279474

[2022-04-08 23:07] bghgary commented on #47
It's very likely the issue is because of single-precision issues. Babylon.js will eventually use the matrix as floats in the shader. I'm just noting that `floating-point` doesn't imply single-precision. The accessor data types are for accessors. The matrix you are referring to are stored as JSON properties which are not accessors. Maybe @lexaknyazev can help us with this part. @lexaknyazev Is ther

[2022-04-09 13:39] FreakTheMighty commented on #47
https://github.com/KhronosGroup/glTF/issues/2140#issuecomment-1093975959

I think this answers the question about the spec pretty clearly, but doesn’t exactly answer how to deal with the problem at hand. I have limited control over how an engine handles these values.

[2022-04-09 14:35] javagl commented on #47
I stumbled over this via the linked issue, and without knowing much of the _specific_ context here (and sorry if this hint is already obsolete) :

- The initial post suggested using the `CESIUM_RTC` extension. This was an extension for glTF **1.0**, supposed to address the issues that are described in more detail in the [Precisions, Precisions](https://help.agi.com/AGIComponents/html/BlogPrecision

[2022-04-12 16:43] deltakosh commented on #47
Hey team! I've been investigating this issue and I have a way to fix it.

When creating the Babylon Engine, we enable it with 32bits precision matrices. With very large numbers like here it is not enough. We picked 32bits first for perf reasons of course.

The solution is to use 64 bits. To do so, simply initialize the engine with this line:
[code]

The output:
![image](https://user-images.githubu

[2022-04-12 16:44] deltakosh commented on #47
By the way I noticed that the glb file has a lot of errors:
![image](https://user-images.githubusercontent.com/1306056/163012677-eff535a4-05ed-4885-bcc2-73edc36c2428.png)

[2022-04-12 17:02] deltakosh commented on #47
Update: We decided to switch the Sandbox to 64bits precision by default ;)

[2022-04-12 17:29] Popov72 commented on #47
Could be relevant: https://github.com/BabylonJS/Babylon.js/issues/4516#issuecomment-769069062

[2022-04-14 16:56] deltakosh commented on #47
Sandbox update is live

[2022-04-14 17:27] FreakTheMighty commented on #47
@petrbroz @wallabyway I think this ticket could be closed. It does seems like best practice is to put the offset into the root node and that its up to the viewer to handle this well.

[2022-04-14 17:27] #47 closed

[2022-04-14 19:36] petrbroz commented on #47
Sorry to chime in this late guys. It looks like a lot has been discussed here. So if I understand it correctly, there's no need to address the double-precision issue in the converter, but we still need to figure out what the validation issues are. I will look into that next week.

[2022-04-14 19:39] petrbroz commented on #51
Thanks @wallabyway, I've just merged the PR. Next week we can test it out and publish a new version if everything looks correct.

[2022-04-23 13:41] zeusxx opened #59 "'RangeError: Invalid string length' when transferring"
Hi,

I am new to this code and it works great so far for my previous test. Today when I'm trying to convert a large model (the original file of this SVF is a ~250MB NWD), the program shows the error message as below:

[code]

Looking forward to your reply. Thanks a lot!

[2022-05-11 17:15] wallabyway commented on #55
related to this..  https://github.com/KhronosGroup/glTF/issues/1699

[2022-06-11 04:02] dykarohora opened #60 "Support reproduce the object hierarchy"
I would like to reproduce the object hierarchy of the source design in gltf.

To do this, I think need to parse "InstanceTree.bin", is that the right?

Also, I don't know how to parse InstanceTree.bin.
I tried using the PackFileReader Class, but although I could read the file, I could not retrieve the data.
Can you tell me how to parse it?

[2022-06-11 04:05] dykarohora commented on #53
I too found it very useful to be able to convert F2D to SVG.

However, I don't know how to parse F2D into vector data, so it would be helpful if you could tell me how to do that.

[2022-06-18 05:26] wallabyway commented on #60
You can retrieve the hierarchy using Model Derivative API, like this:
`GET https://developer.api.autodesk.com/modelderivative/v2/designdata/:urn/metadata/:guid`

`API doc for hierarchy`: https://forge.autodesk.com/en/docs/model-derivative/v2/reference/http/urn-metadata-guid-GET/

Source code for retrieving the hierarchy, using the 5 properties json files: https://github.com/wallabyway/propertyServ

[2022-06-20 13:31] petrbroz commented on #60
As @wallabyway explained, the object hierarchy can be retrieved directly from the public Model Derivative APIs. This approach is preferable to parsing the _InstanceTree.bin_ file.

[2022-06-20 13:31] #60 closed

[2022-06-20 13:45] petrbroz commented on #53
This is a long story but I'll try and explain it shortly: when Forge Viewer was built on top of three.js R71, the rendering pipeline had to be modified significantly to handle large/complex static scenes. Unfortunately these modifications couldn't be implemented "cleanly" on top of three.js, and instead they involved some deep changes to the internal code. That's why moving to a newer version of t

[2022-06-20 13:50] petrbroz commented on #53
As we mentioned earlier, currently there's very little demand for an F2D parser so this feature doesn't have a high priority on our list.

Depending on what exactly you're trying to do, you could make use of the `Autodesk.Viewing.Private.VertexBufferReader` utility class that can parse primitives of a 2D drawing during runtime, as explained in this blog post: https://forge.autodesk.com/blog/workin

[2022-08-03 20:39] leefsmp opened #63 "Example to attach custom guid to each mesh"
Hi, I'm looking at the sample to attach custom dbId to meshes: https://github.com/petrbroz/forge-convert-utils/blob/develop/samples/custom-gltf-attribute.js

But having a hard time understanding how to modify it so we can attach guid (revit externalId) string instead. Could you give a quick example on how to achieve that pls?

[2022-08-03 21:24] leefsmp commented on #63
maybe we can live with attaching a dbId instead of guid as I understand it may cause the geometry to become significantly heavier... however after running your example my model appears quite coloured ...

<img width="571" alt="Screenshot 2022-08-03 at 23 23 14" src="https://user-images.githubusercontent.com/4352502/182714730-ad3d53eb-cff8-45d2-a2e2-82b18d7a9209.png">

[2022-08-05 13:35] petrbroz commented on #63
Hi Philippe, embedding a GUID into the glTF geometry would be very difficult, if possible at all. I'd suggest to just use the 32-bit dbID and embed it into the RGBA components of the vertex colors. Btw. I've just recorded a lightning talk on this topic (incl. the way to retrieve this dbID in Unity) that'll be published during the AU in September.

[2022-08-05 13:35] #63 closed

[2022-08-05 15:31] leefsmp commented on #63
ok but storing the attributes in `COLOR_0` can't be the right way to do as it definitely impacts the color of my models ...

[2022-08-05 16:13] petrbroz commented on #63
No worries, in the lightning talk I explain the process of detaching the vertex colors from the geometry so that its appearance is not affected. Btw. the lightning talk is centered around this sample code: https://github.com/petrbroz/forge-unity-poc.

[2022-09-14 08:18] guodan opened #64 "Error: ENOENT: no such file or directory"
Hi,
I don't know what is the purpose of [forge-convert-sqlite](https://github.com/petrbroz/forge-convert-sqlite). So I didn't checkout that. Maybe is the reason of the error.

![image](https://user-images.githubusercontent.com/18362550/190098535-65b1b07c-9cae-45b4-ab1d-7f41f879585d.png)

Can anybody tell me how to config this?